

body{
     display: flex;
     height: 100vh;
     justify-content: center;
     align-items: center;
     background-color: rgb(180, 176, 176);
    }

    h1{
     font-size: 50px;

    }
    .container{
     text-align: center;
    }
    span{
     font-size: 40px;
    }

    button{
     font-size: 15px;
    }